<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>

      <!--MongoDB configurations start-->

      <!-- MongoDB connection string name  -->
      <setting name="CONNECTION_STRING_NAME" value="mongodb://127.0.0.1:27017"></setting>

      <!-- MongoDB database name  -->
      <setting name="DATABASE_NAME" value="blog"></setting>

      <!-- MongoDB collection name  -->
      <setting name="COMMENTS_COLLECTION_NAME" value="comments"></setting>

      <!--MongoDB configurations end-->

      <!--Captcha keys settings start-->
      <!--More information about the google captcha available here https://www.google.com/recaptcha/intro/index.html -->
      <!--Login with your account and get these two key site_key and secret_key -->
      <!-- Site key  -->
      <setting name="SITE_KEY" value=""></setting>

      <!-- Secret key  -->
      <setting name="SECRET_KEY" value=""></setting>

      <!--Captcha keys settings end-->


      <!--Email notification on or off settings start-->

      <!-- Get new comment notification to admin  -->
      <!--Default value = false-->
      <setting name="SEND_MAIL_TO_ADMIN_WHEN_NEW_COMMENT_POSTED" value="true"></setting>

      <!-- Get new comment notification to admin  -->
      <!--Default value = false-->
      <setting name="SEND_MAIL_TO_USER_WHEN_COMMENT_PUBLISHED" value="true"></setting>

      <!--Email notification on or off settings end-->



      <!--Email settings start-->

      <!-- From address for sending mail to user or admin  -->
      <setting name="EMAIL_FROM" value="support@yourcompany.com"></setting>

      <!-- To address for getting notification of new comment  -->
      <setting name="EMAIL_TO" value="test@yourcompany.com"></setting>

      <!--Email settings end-->



      <!--Greeting message for admin and user settings start-->

      <!--Greeting message subject for admin-->
      <!--Default value
      "New comment posted on your blogpost"
      -->
      <setting name="GREETING_MESSAGE_SUBJECT_FOR_ADMIN" value="New comment posted on your blogpost"></setting>

      <!--Greeting message body for admin-->
      <!--Default value
      "New Comment Posted on "name of your post" Blog Post"
      -->
      <setting name="GREETING_MESSAGE_BODY_FOR_ADMIN" value=""></setting>

      <!--Greeting message subject for user-->
      <!--Default value
      "Your Comment has been published"
      -->
      <setting name="GREETING_MESSAGE_SUBJECT_FOR_USER" value="Your Comment has been published"></setting>

      <!--Greeting message body for admin-->
      <!--Default value
      "Thank you for your valueable comment"
      -->
      <setting name="GREETING_MESSAGE_BODY_FOR_USER" value="New comment posted on your blogpost"></setting>

      <!--Greeting message for admin and user settings end-->



      <!--Page size for comment editor in sitecore start-->

      <!--Page size for comment editor-->
      <!--Default value
                          value=10
      -->
      <setting name="COMMENT_EDITOR_PAGE_SIZE" value="10"></setting>

      <!--Page size for comment editor in sitecore end-->


      <!--Number of comments on you want to load on page load start-->

      <!--Number of comments-->
      <!--Default value
                          value=5
      -->
      <setting name="COMMENTS_ON_PAGE_LOAD" value="5"></setting>

      <!--Number of comments on you want to load on page load end-->


      <!--Number of comments loadmore button click start-->

      <!--Number of comments-->
      <!--Default value
                          value=5
      -->
      <setting name="COMMENTS_ON_LOAD_MORE_CLICK" value="5"></setting>

      <!--Number of comments loadmore button click end-->
    </settings>
  </sitecore>
</configuration>